@use '/src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 7px;
    color: colors.$GRAY6;
    font-size: 17px;
  }

  .emailWrapper {
    position: relative;

    .emailInput {
      width: 400px;
      margin-bottom: 40px;
      padding: 15px;
      font-size: 17px;
      border: 1px solid colors.$GRAYD;
      border-radius: 7px;

      &:focus {
        outline: 1px solid colors.$GRAY6;
      }

      &::placeholder {
        color: colors.$GRAYD;
      }
    }

    .checkIcon {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 15px;
      margin-left: 350px;
      font-size: 20px;
    }
  }

  .pwWrapper {
    position: relative;

    .pwInput {
      width: 400px;
      margin-bottom: 40px;
      padding: 15px;
      font-size: 17px;
      border: 1px solid colors.$GRAYD;
      border-radius: 7px;

      &:focus {
        outline: 1px solid colors.$GRAY6;
      }

      &::placeholder {
        color: colors.$GRAYD;
      }
    }

    .invisibleIcon {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 15px;
      margin-left: 350px;
      color: #474747;
      font-size: 23px;
    }

    .visibleIcon {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 15px;
      margin-left: 350px;
      color: #12b8ad;
      font-size: 23px;
    }
  }
}
