@use '/src/styles/constants/colors';

.wrapper {
  position: relative;
  z-index: 0;
  display: flex;
  width: 600px;
  margin-bottom: 50px;
  border-bottom: 4px solid colors.$GRAYD;

  .category {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    font-size: 1.2rem;
    cursor: pointer;
    background: none;
    border: none;
  }

  .active {
    font-weight: 600;
    color: colors.$BLACK;
  }

  .inactive {
    font-weight: 200;
    color: colors.$GRAYA;
  }

  .highlight {
    position: absolute;
    top: 80px;
    width: 200px;
    height: 4px;
    background-color: colors.$MAIN;
    border-radius: 100px;
    transition: 0.4s ease-out;
  }
}
