@use '/src/styles/constants/colors';

.container {
  .selectWrapper {
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;

    .selectBox {
      width: 300px;
      height: 55px;
      padding-left: 10px;
      border: colors.$GRAYD solid 1px;
      border-radius: 8px;

      .selectWord {
        margin-top: 16px;
        font-size: 18px;
        color: colors.$GRAYA;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      margin-top: 18px;
      margin-left: 270px;
    }
  }

  .dropdownWrapper {
    position: relative;

    .searchBar {
      width: 300px;
      height: 50px;
      padding-left: 40px;
      border: colors.$GRAYD solid 1px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      &::placeholder {
        font-size: 17px;
        color: colors.$GRAYA;
      }

      &:focus {
        outline: none;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      margin-top: 17px;
      margin-left: 10px;
    }

    .dropdownList {
      width: 300px;
      height: 100%;
      padding-inline-start: 0;
      margin: 0;
      font-size: 20px;
      line-height: 35px;
      color: colors.$GRAY6;
      list-style: none;
      cursor: pointer;
      border: colors.$GRAYD solid 1px;
      border-top: none;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      li {
        padding-left: 35px;

        :hover {
          background-color: colors.$GRAYE;
        }
      }
    }
  }
}
