@use '/src/styles/constants/colors';

.container {
  .toggleWrapper {
    width: 450px;
    height: 60px;
    padding: 0 5px;
    background-color: colors.$GRAYD;
    border-radius: 50px;

    .slider {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: inherit;
      height: inherit;

      .activeBar {
        position: absolute;
        left: 0;
        z-index: 2;
        width: 225px;
        height: 55px;
        cursor: pointer;
        background-color: colors.$WHITE;
        border-radius: 50px;
        transition: transform 0.6s;
        transform: translateX(0);
        // transform: translateX($ {({currentActive}) => (currentActive === '기본' ? '0%': '100%')});
      }

      .activeRightBar {
        position: absolute;
        left: 0;
        z-index: 2;
        width: 225px;
        height: 55px;
        cursor: pointer;
        background-color: colors.$WHITE;
        border-radius: 50px;
        transition: transform 0.6s;
        transform: translateX(100%);
      }

      .default,
      .detail {
        position: relative;
        z-index: 101;
        width: 50%;
        height: 100%;
        font-size: 23px;
        cursor: pointer;
        background: none;
        border-style: none;
      }
    }
  }
}
